[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyfoma = "*"
numpy = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
tensorflow = "*"

[dev-packages]
llm = "*"
black = "*"
graphviz = "*"
ipykernel = "*"
sentencepiece = "*"

[requires]
python_version = "3.11"
